/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #272d36;
;

html, body {
  min-height: 100vh;
}

body {
  background: $primary-background;
}

// main {
//   background-image: url('./images/mouldy-mango-login.jpg');
// }
