.header-greeting {
    border: 2px solid red;
    padding: 1% 3%;
    text-align: center;
}

/*~~~~~~~~~~~~ Resort Card ~~~~~~~~~~~*/

.resort-card {
    border: 2px solid red;

    border-radius: 30px 30px 30px 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 5%;
}

img {
    border-radius: 30px 30px 50px 50px;
    width: 100%;
}

.search-all-availability {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
}







.arrow-btn {
    width: 5em;
}